{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [">30%"],
        useBuiltIns: true,
        modules: false
      },
      "useBuiltIns": true,
      "debug": false
    }]
  ],
  "ignore": ["node_modules"]
}
